@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Work+Sans:wght@300;400&display=swap');
*{
    border: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* Hearder Section */
.header-section{
    height: 770px;
    width: 1536px;
    background-image: url("/images/banner/banner1.png");
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}
.header-title{
    position: relative;
    left: 55%;
    top: 25%;
    width: 650px;
}
.header-title h1{
    width: 525px;
    height: 228px;
    font-weight: 700;
    font-size: 60px;
    text-align: right;
}
.header-description{
    position: relative;
    left: 53.4%;
    top: 25%;
    width: 550px;
    color: #444343;
    text-align: right;
}
.header-button{
    position: relative;
    left: 53.4%;
    top: 26%;
    width: 550px;
    text-align: right;
}
/* Primary Button */
.btn-primary{
    height: 50px;
    background-color: #FD6E0A;
    border: 1px #FD6E0A;
    font-size: 12pt;
    margin-top: 10px;
    border-radius: 5px;
    padding:0px 10px;
    font-weight: 400;
    width: 140px;
    color: whitesmoke;
    font-weight: bold;
}

/* Failure Section */

.failure-part{
    margin-top: 7%;
    display: flex;
}
.failure-image{
    width: 50%;
    text-align: center;
}
.failure-image img{
    width: 569px;
    height: 723.3px;
}
.failure-box{
    width: 50%;
}
.failure-box h3,p,div{
    position: relative;
    top: 40%;
}
.failure-box h3{
    width: 250px;
    height: 94px;
    font-size: 35px;
}
.failure-box-description{
    size: 16px;
    line-height: 26px;
    color:#444343;
    width: 400px;
}
.failure-box-mark{
    margin-top: 15px;
}
.failure-box-mark p{
    margin-bottom: 10px;
    color:#444343;
}
.failure-box-mark p i{
    color: rgb(101, 243, 101);
    margin-right: 10px;
}

/* My Plan Section */

.myplan{
 margin-top: 5%;
}
.myplan .myplan-title{
    text-align: center;
    font-Weight:700;
    font-size:30px;
    line-height: 46.92px;
}

.myplan-icon{
    display: flex;
    width: 1000px;
    margin-left: 20%;
    margin-top: 5%;
    justify-content: space-between;
}
.icon-box{
    text-align: center;
    height: 200px;
}
.icon-box h1{
    margin-top: 10px;
    size: 30px;
    line-height: 35.19px;
}
.icon-box p{
    color:#737272;
    position: relative;
    top: 12px;
    font-size:25px;
    line-height:29.33px;
}

/* Button Image Section */

.btn-image{
    height: 200px;
    background: url("/images/gradient2.png"),url("/images/watch.png");
    background-size: 80%;
    background-repeat: no-repeat,no-repeat;
    border-radius: 8px;
    margin: 10% 0% 3% 20%;
}
.btn-center{
 margin-left: 5%;
 position: relative;
 top: 25px;
}
.btn-center h2{
    width: 300px;
    color: #FFFFFF;
}

/* Secondary Button Section */

.btn-seconday{
    height: 50px;
    background-color: white;
    border: 1px solid whitesmoke;
    font-size: 12pt;
    margin-top: 10px;
    border-radius: 5px;
    padding:0px 10px;
    font-weight: 400;
    width: 140px;
    color: #FD6E0A;
    font-weight: bold;
}

/* Footer Section */

footer{
    width: 100%;
    background-color: black;
    display: flex;
}
.footer-leftside{
    width: 50%;
    margin:5% 1% 10% 10%;
    color: white;
}
.footer-leftside h3{
 font-size: 40px;
}
.footer-leftside .footer-description{
    margin-top: -30px;
    width: 500px;
}
.footer-leftside p{
    margin-bottom: 20px;
}
.footer-icon img{
    margin-right: 10px;
}
.footer-rightside{
    width: 50%;
    margin:5% 1% 10% 10%;
    color: white;
}
.footer-rightside h5{
    font-size: 13pt;
}
.footer-rightside input{
    display: block;
    margin-top: 20px;
    width: 304px;
    height: 40px;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    font-family: 'Work Sans', sans-serif;
    background-color: black;
}
input:focus{
    outline: none;
}
input::placeholder{
    color: white;
    padding-left: 10px;
}
.footer-rightside button{
    margin-top: 20px;
}